/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------------------------------------
--------------------------------------------
------------------------------------------*/
header {
	text-align: center;
	background-color: violet;
	margin-bottom: 30px;
}
a {
	text-decoration: none;
	font-size: 22px;
	font-weight: 300;
	letter-spacing: 2px;
}

nav{
	padding:10px;
}

.navs {
	padding: 0 10px;
}

.date {
	margin-left: 600px;
	letter-spacing: 3px;
	color: darkblue;
	font-size: 20px;
}

p {
	margin-right: 600px;
	margin-left: 600px;
	font-weight: 100;
}

img {
	margin-left: 600px;
	margin-bottom: 50px;
}

h1 {
	margin-left: 600px;
	font-size: 25px;
	font-weight: 800;
}

.head-2{
	margin-left: 600px;
	font-size: 25px;
	font-weight: 800;
}

.read {
	margin-left: 620px;
	font-weight: 400;
	margin-top: 10px;
}

.para{
	margin-top: 25px;
}

footer{
	text-align: center;
	background-color: lightblue;
	padding: 20px 0;
	font-weight: 600;
}

hr {
	width: 700px;
}